* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

html {
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
  background-attachment: fixed;
}